{% extends "parking/base.html" %}
{% block page_content %}
  <div style="display:none;" id="placeid">{{ placeid }}</div>
  <div class="pageContentWrapper"> 
      
      <div class="headerBreak headerBreakTitleBottom"></div>
      
      <!-- page title starts -->
      <center><h1 class="pageTitle" id="parkname"></h1></center>
      <!-- page title ends -->

      <div class="columnWrapper oneHalf">
        <h1 class="" >总车位</h1>
        <h1 class="total_pak" id="total_pak"></h1>
      </div>
      <div class="columnWrapper oneHalf lastColumn">
        <h1 class="" id="" style="text-align:center">剩余车位</h1>
        <h1 class="ava_park" id="ava_park" style="text-align:center">20</h1>
      </div>

      <div class="clear"></div>
      
      <!-- one half start -->
      <div class="columnWrapper oneHalf">
        <a href="javascript:;" class="buttonWrapper buttonBlue" id="carin">进</a>
      </div>
      <div class="columnWrapper oneHalf lastColumn">
        <a href="javascript:;" class="buttonWrapper buttonGreen" id="carout">出</a>
      </div>
      <!-- one half end -->

    </div>
{% endblock %}
{% block inscript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easypiechart.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/control.js') }}"></script>
{% endblock %}

